---
interface Props {
  title: string;
}

const { title } = Astro.props;
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-white text-dark min-h-screen flex flex-col">
    <slot />
    
    <script>
      // Este script se ejecutará en el cliente
      // Aquí puedes agregar cualquier JavaScript del lado del cliente
    </script>
  </body>
</html>